azure-storage-blob
azure-identity
fastapi
langchain
langchain_chroma
langchain_community
langchain_core
langchain_openai
langchain_text_splitters
loguru
pydantic
pydantic_settings
pymongo
pytest
python-dotenv
Requests
tqdm
uvicorn
